:root {
  --circleDiameter: 30px;
}

.greenCircle {
  background-color: green;
  border: 1px solid;
  border-radius: var(--circleDiameter);
  height: var(--circleDiameter);
  width: var(--circleDiameter);
}
.yellowCircle {
  background-color: yellow;
  border: 1px solid;
  border-radius: var(--circleDiameter);
  height: var(--circleDiameter);
  width: var(--circleDiameter);
}
.redCircle {
  background-color: red;
  border: 1px solid;
  border-radius: var(--circleDiameter);
  height: var(--circleDiameter);
  width: var(--circleDiameter);
}
.offCircle {
  background-color: #bcbaba;
  border: 1px solid;
  border-radius: var(--circleDiameter);
  height: var(--circleDiameter);
  width: var(--circleDiameter);
}
